@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  /* colors */
  --background-color: #121826;
  --header-font-color: #1e1e1e;
  --main-font-color: #f2f9fe;
  --card-font-color: #97a3b6;
  --card-border-color: #4a5567;
  --card-border-color-hover: #4a5567;

  --card-bage-color: #20293a;
  --filter-bar-background-color: #232d3df2;

  /* typography */
  --font-size-base: 14px;
  --main-font-family: 'DM Sans', 'Arial', sans-serif;
  --outfit-font-family: 'Outfit', sans-serif;
  --regular-font-weight: 400;
  --semi-bold-font-weight: 600;

  /* sizes */
  --main-header-height: 620px;
  --card-height: 461px;
  --card-image-height: 200px;
  --filter-bar-min-height: 112px;

  --filter-bar-min-width: 300px;
  --title-mobile-width: 420px;
  --title-tablet-width: 620px;
  --title-desctop-width: 600px;
  --cards-container-width: 1136px;
  --card-width: 358px;

  --main-border-radius: 16px;

  /* margins & paddings */
  --filter-bar-mobile-padding: 24px;
  --filter-bar-tablet-padding: 32px;
  --filter-bar-desctop-padding: 72px;
}
