.filters-bar {
  position: relative;
  min-height: var(--filter-bar-min-height);
  padding: 10px;
  top: -56px;
  margin: 0 var(--filter-bar-mobile-padding);
  width: calc(100% - 2 * var(--filter-bar-mobile-padding));

  background-color: var(--filter-bar-background-color);
  backdrop-filter: blur(5px);
  border: 1px solid var(--card-border-color);
  border-radius: var(--main-border-radius);
}
