@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  font-size: var(--font-size-base);
  background-color: var(--background-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
}

body,
button,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

header {
  background-image: url(../assets/images/header/mobile-header.png);
  font-family: var(--outfit-font-family);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  height: 620px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
  margin-top: 180px;
  margin-left: 64px;
  width: 82%;
}

.header-title h1 {
  font-size: 64px;
  font-weight: 600;
}

.header-title h2 {
  font-size: 24px;
  font-weight: 400;
}

.header-title h1,
.header-title h2 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  header {
    background-image: url(../assets/images/header/tablet-header.png);
    background-position-x: center;
  }

  .header-title {
    gap: 20px;
    margin-left: 112px;
    width: 620px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    background-image: url(../assets/images/header/desktop-header.jpg);
  }

  .header-title {
    gap: 20px;
    margin-left: 140px;
    width: 630px;
  }
}
